# eclipse
*.launch
.settings/
.metadata
.classpath
.project
bin/

# idea
.idea/
*.iml
*.ipr
*.iws
out/

# gradle
build/
.gradle/
gradle/wrapper/gradle-wrapper.jar
docs/

# other
run/
runs/
logs/
src/generated/
net/

gtoregistrylib/
tterrag1098Registrate-1.21.8-dev/
.1git/