.site-nav .nav-list .nav-list {
    display: block !important;
}

.site-nav .nav-list-expander {
    transform: rotate(90deg);
}

.site-nav>.nav-list>.nav-list-item:nth-child(3),
.site-nav>.nav-list>.nav-list-item:nth-child(8) {
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    margin-top: 0.75rem;
    padding-top: 0.75rem;
}